Package: com.ginsu.docksearch
Name: DockSearch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds a browser search bar to the dock!
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: dev.theos.orion14, firmware (>= 14.0), com.ginsu.libgscommon, preferenceloader
